<!-- <table id="listProductDB" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Giá</th>
            <th>Like</th>
            <th>Tình trạng</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Giá</th>
            <th>Like</th>
            <th>Tình trạng</th>
        </tr>
    </tfoot>
</table> -->
<script>
    //     $(document).ready(function() {
    //     $('#listProductDB').DataTable( {
    //         "processing": true,
    //         "serverSide": true,
    //         "ajax": {
    //             "url": "#",
    //             "type": "POST"
    //         },
    //         "columns": [
    //             { "data": "product_name" },
    //             { "data": "category_id" },
    //             { "data": "price" },
    //             { "data": "rate" },
    //             { "data": "status" },
    //         ]
    //     } );
    // } );
    // $(document).ready(function () {
        
    // });

</script>
