<main class="pt-5 mx-lg-5">
    <div class="container-fluid card">
        <div class="card row">
            <% include addProduct %>
        </div>
    </div>
    <div class="row">
        <% include productDetail %>
    </div>
    <div class="container-fluid mt-5 card">
            <div class="card row" >
                <table id="listProductDB" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th>Giá</th>
                            <th>Like</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th>Giá</th>
                            <th>Like</th>
                            <th>Tình trạng</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
</main>