<div class="dark-grey-text mt-5 card">
    <div class="row wow fadeIn">
      <div class="col-md-6 mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" id="imageView" class="img-fluid" alt="">
        <div class="row ml-2">
            <div class="col-sm btn-outline-info btn rounded">
                <img id="image1" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" style="width: 100%;  opacity: 0.5;"/>
            </div>
            <div class="col-sm btn-outline-info btn">
                <img id="image2" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" style="width: 100%; opacity: 0.5" />
            </div>
            <div class="col-sm btn-outline-info btn">
                <img id="image3" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" style="width: 100%;  opacity: 0.5" />
            </div>
            <div class="col-sm btn-outline-info btn">
                <img id="image4" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" style="width: 100%;  opacity: 0.5" />
            </div>
      </div>
    </div>
      <div class="col-md-6 mb-4">
        <div class="p-4">
          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1" id="category">Category </span>
            </a>
            <a href="">
              <span class="badge blue mr-1">Mới</span>
            </a>
            <a href="">
              <span class="badge red mr-1" id="isHasPro">Khuyến mãi</span>
            </a>
          </div>
          <p class="lead">
            <span class="mr-1">
              <del id="oldPrice">VND</del>
            </span>
            <span id="newPrice">VND</span>
          </p>
          <p class="lead font-weight-bold">Miêu tả</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa sint voluptatibus!
            Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>
          <form class="d-flex justify-content-left">
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">Thêm vào giỏ hàng
              <i class="fa fa-shopping-cart ml-1"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <hr>