<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5 card">
        <% include ../store/addstore %>
    </div>
    <div class="container-fluid mt-5 row">
        <!--Card-->
        <div class="card card-cascade col mb-4 mt-2">
            <div class="view view-cascade">
                <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade text-center">
                <!--Title-->
                <h4 class="card-title"><strong>Nguyễn Danh Nam</strong></h4>
                <h5>01686137754</h5>
                <p class="card-text">Địa chỉ: Hà Nội
                </p>
                <button type="button" class="btn btn-primary btn-circle btn-lg">
                    <a href="#"></a>
                    <i class="fa fa-facebook"></i>
                </button>
                <button type="button" class="btn btn-danger btn-circle btn-lg">
                    <i class="fa fa-twitter"></i>
                </button>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card card-cascade wider mb-4 mt-2">
                <div class="view view-cascade">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="card-img-top">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong> Cửa hàng Nam Nguyễn</strong></h4>
                    <h5 class="indigo-text"><strong>Nguyễn Danh Nam</strong></h5>
                    <p class="card-text">Quần áo dành cho nam
                    </p>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                </div>
            </div>
        </div>
    </div>
</main>