<main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">
            <!-- Heading -->
            <!-- Heading -->
            <!--Grid row-->
            <div class="row wow fadeIn">
                <!--Grid column-->
                <div class="col-md-9 mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card content-->
                        <div class="card-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 mb-4">
                    <!--Card-->
                    <div class="card mb-4">
                        <!-- Card header -->
                        <div class="card-header text-center">
                            Cơ cấu kho hàng
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <canvas id="pieChart"></canvas>
                        </div>
                    </div>
                    <!--/.Card-->
                    <!--Card-->
                    <div class="card mb-4">

                        <!--Card content-->
                        <div class="card-body">

                            <!-- List group links -->
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action waves-effect">Doanh thu
                                    <span class="badge badge-success badge-pill pull-right">0%
                                        <i class="fa fa-arrow-up ml-1"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">Đơn hàng
                                    <span class="badge badge-primary badge-pill pull-right">14</span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">Tin nhắn
                                    <span class="badge badge-primary badge-pill pull-right">8</span>
                                </a>
                            </div>
                            <!-- List group links -->

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <label for="" style="text-align: center;" class="deep-purple-text card-header">Danh sách người theo dõi </label>
                        <div class="card-body">
                            <table class="table table-hover" id="listFollow">
                                <thead class="blue-grey lighten-4">
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên người dùng</th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- Table  -->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                        <div class="card">
                                <label for="" style="text-align: center;" class="deep-purple-text card-header">Danh sách đang theo dõi </label>
                            <div class="card-body">
                                <table class="table table-hover" id="listFollowing">
                                    <thead class="blue-grey lighten-4">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên người dùng</th>
                                        </tr>
                                    </thead>
                                </table>
                                <!-- Table  -->    
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
            </div>
            Địa chỉ
            <div class="row wow fadeIn">
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-header">Google map</div>
                        <div class="card-body">
                            <div id="map-container" class="z-depth-1" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>