<!-- <style>
    html,
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    line-height: 1.6;
    font-size: 16px;
    -webkit-font-smoothing: antialiased; /* Prevent scroll on narrow devices */
}
label{
    font-weight: normal;
}

body {
  padding-top: 130px;
}
footer {
  padding: 30px 0;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.top{
    padding-top: 10px;
    background-image : url('public/image/back2.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: top top;
    
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
.navbar-inverse {
    border-color: white;
}
.nav-brand{
    margin-left: -100px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -100px;
}

.navbar-nav>li>.user {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.nav2{
    background-color: hsla(0, 22%, 23%, 0.322);
}
.logo{
    background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style> -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg top" role="navigation" >

    <div class="container" id="ctnbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse view">
            <ul class="nav navbar-nav" role="group">
                <li class="nav-item nav-brand" style="margin-top: 3px;">
                    <a class="btn btn-default btn-lg logo" href="#" style="font-size: 60px;">KIMO
                    </a>
                </li>
                <li class="nav-item nav2" style="font-size: 18px; margin-top: 10px;"><a href="#" style="color:white;"><span
                             class="glyphicon glyphicon-home icon-lg" aria-hidden="true"></span>
                        Trang chủ</a></li>
                <li class="nav-item nav2" style="font-size: 18px; margin-top: 10px;"><a href="#" style="color:white;">
                        <span class="glyphicon glyphicon-shopping-cart icon-lg" aria-hidden="true"></span>
                        Tin tức</a></li>
                <li class="nav-item nav2" style="font-size: 18px; margin-top: 10px;"><a href="#" style="color:white;">
                        <span  class="glyphicon glyphicon-info-sign icon-lg" aria-hidden="true"></span>
                        Giới thiệu</a></li>
                <li class="nav-item nav2" style="font-size: 18px; margin-top: 10px;"><a href="#" style="color:white;"><span
                             class="fas fa-envelope icon-lg"></span> Contact</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right" style="cursor: pointer;" role="group">
                <li class="nav-item" id="notLoginBtn">
                    <a data-toggle="modal" style="color:white;" data-target="#loginModal">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>login</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" style="color: white ;">
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                        <i class="fa fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"></span>Giỏ hàng</span>
                    </a>
                </li>
                <li class="" style="color:white;">
                    <form class="form-inline md-form form-sm active-cyan-2">
                        <input class="form-control form-control-sm mr-3 w-75" type="text" style="color:white;"
                            placeholder="Search" aria-label="Search" id="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons navbar-right" id="userBox" style="cursor: pointer; display: none">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle user" id="navbarDropdownMenuLink-5" style=" background-color: rgba(255,255,255, 0); font-weight: bold;" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                            style="border-radius: 50%; width: 40px;" alt="avatar image" style="width:40px;">
                        <span id="userNameBox" style="color: white;"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                        <a class="dropdown-item" href="dms"> <span style="color: black; " class="fa fa-info"
                                aria-hidden="true"></span>Quản lí</a>
                        <a class="dropdown-item" href="#" id="logoutBtn"> <span style="color: black; " class="fa fa-sign-out-alt"
                                aria-hidden="true"></span>Đăng xuất</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav> -->

<!-- <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times;</button>
                <h3 class="text-center">Đăng nhập</h3>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="md-form">
                        <input type="number" id="userName" name="userName" class="form-control">
                        <label for="userName">Tên đăng nhập- số điện thoại</label>
                    </div>

                    <div class="md-form">
                        <input type="password" id="password" name="password" class="form-control">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                            <a href="">Forgot password?</a>
                        </label>
                    </div>
                    <a data-toggle="modal" data-dismiss="modal"> <button type="button" id="loginBtn" class="btn btn-info btn-block my-2">Đăng
                            nhập</button> </a>
                    <button type="button" class="btn btn-danger btn-round center" data-dismiss="modal">Huỷ</button>
                    <a data-toggle="modal" data-dismiss="modal" data-target="#signupModal"><button type="button" id="gotoSignup"
                            class="btn btn-secondary">Đăng ký</button></a>
                    <span class="">or sign in with:</span>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-github"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- <div id="signupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times;</button>
                <h3 class="text-center">Đăng ký</h3>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="md-form">
                        <input type="number" id="userNameSignup" name="userNameSignup" class="form-control">
                        <label for="userNameSignup">Số điện thoại- tên đăng nhập</label>
                    </div>

                    <div class="md-form">
                        <input type="password" id="passwordSignup" name="password" class="form-control">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <div class="md-form">
                        <input type="password" id="confirmPasswordSignup" name="password" class="form-control">
                        <label for="password">Xác nhận mật khẩu</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="fullname" name="fullname" class="form-control">
                        <label for="fullname">Tên người dùng</label>
                    </div>
                    <a data-toggle="modal" data-dismiss="modal">
                        <button type="button" id="signupBtn" class="btn btn-info btn-block my-2">Đăng ký</button>
                    </a>
                    <button type="button" class="btn btn-danger btn-round center" data-dismiss="modal">Huỷ</button>
                    <span class="justify-content-center">or sign up with:</span>
                    <a type="button" class="d-flex light-blue-text mx-2">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-github"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div> -->
<style>
    #avatar{
            width: 40px;
        }
    
    </style>
<nav class="mb-1 navbar navbar-expand-lg stylish-color-dark lighten-1" id="header">
    <a href="/">
        <button type="button" class="btn btn-info navbar-brand" style=" font-size: 30px; padding: 5px 15px 5px 15px; width: 150px;">

            KIMO
        </button>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5"
        aria-controls="navbarSupportedContent-5" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent-5">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active ml-3">
                <a class="nav-link border rounded text-white" href="/">
                    <i class="fa fa-home " aria-hidden="true"></i> Trang chủ
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link border rounded text-white" href="/new">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> Tin tức
                </a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link border rounded text-white" href="/info">
                    <i class="fa fa-info" aria-hidden="true"></i> Giới thiệu
                </a>
            </li>
            <!-- <li class="nav-item ml-3">
                <a class="nav-link" href="#">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li> -->
        </ul>
        <ul class="navbar-nav nav-brand">
            <ul class="list-unstyled">
                <li class="list-inline-item">
                    <button type="button" class="btn btn-info btn-circle btn-lg">
                        <i class="fa fa-github"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button type="button" class="btn btn-danger btn-circle btn-lg">
                        <i class="fa fa-google-plus"></i>
                    </button>
                </li>
            </ul>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons" style="display: none;" id="userBox">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">1
                    <i class="pink-text fa fa-envelope"></i>
                </a>
            </li>
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" id="avatar" class="rounded-circle z-depth-0"
                        alt="avatar image">
                </a>
                <div class="dropdown-menu dropdown-menu-left dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                    <a class="dropdown-item" href="dms">
                        <i class="fa fa-user" aria-hidden="true"></i> Trang cá nhân</a>
                    <a class="dropdown-item" href="#" id="logoutBtn">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons" id="">
            <li class="nav-item">
                <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold light-blue-text">Đăng nhập </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <i class="fa fa-phone prefix text-default"></i>
                                    <input type="number" id="userName" class="form-control validate">
                                    <label data-error="Số điện thoại không hợp lệ" data-success="" for="userName">Số
                                        điện
                                        thoại</label>
                                </div>

                                <div class="md-form mb-4">
                                    <i class="fa fa-lock prefix text-danger"></i>
                                    <input type="password" id="password" class="form-control validate">
                                    <label data-error="" data-success="" for="password">Mật khẩu</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button id="loginBtn" data-dismiss="modal" class="btn btn-deep-orange">Đăng nhập<i
                                            class="fa fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <div class="options text-center text-md-right mt-1">
                                    <a href="#" class="blue-text">Quên mật khẩu?</a>
                                </div>
                                <button type="button" id="gotoSignup" class="btn btn-indigo waves-effect ml-auto"
                                    data-dismiss="modal" data-toggle="modal" data-target="#modalRegisterForm">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold light-blue-text">Đăng ký</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <!-- <div class="md-form mb-5">
                                    <i class="fa fa-user prefix text-info"></i>
                                    <input type="text" id="orangeForm-name" class="form-control validate">
                                    <label data-error="Ký tự không hợp lệ" data-success="" for="orangeForm-name">Tên</label>
                                </div> -->
                                <div class="md-form mb-5">
                                    <i class="fa fa-phone prefix text-default"></i>
                                    <input type="number" id="userNameSignup" class="form-control validate">
                                    <label data-error="Số điện thoại không hợp lệ" data-success="" for="userNameSignup">Số
                                        điện thoại</label>
                                </div>
                                <div class="md-form mb-4">
                                    <i class="fa fa-lock prefix text-danger"></i>
                                    <input type="password" id="passwordSignup" class="form-control validate">
                                    <label data-error="" data-success="" for="passwordSignup">Mật khẩu</label>
                                </div>

                                <div class="md-form mb-4">
                                    <i class="fa fa-lock prefix yellow-text"></i>
                                    <input type="password" id="confirmPasswordSignup" class="form-control validate">
                                    <label data-error="" data-success="" for="confirmPasswordSignup">Xác nhận mật khẩu</label>
                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-indigo" data-dismiss="modal" id="signupBtn">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center" id="notLoginBtn">
                    <a href="" class="btn btn-deep-orange btn-rounded mb-2" data-toggle="modal" data-target="#modalLoginForm">Đăng
                        nhập <i class="fa fa-sign-in ml-1"></i>
                    </a>
                </div>
            </li>
        </ul>
        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2 " type="text" placeholder="Tìm kiếm" aria-label="Search">
            </div>
            <a class="nav-link waves-effect waves-light text-secondary">
                <i class="fa fa-search text-white" aria-hidden="true"></i>
            </a>
        </form>
        <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <!--Modal: Contact form-->
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header success-color white-text">
                        <h4 class="title">
                            <i class="fa fa-pencil"></i> Thông tin cá nhân</h4>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <div class="col input-group mb-2 md-form">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Ảnh đại diện</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputFile01" aria-describedby="inputFile01">
                                <label class="custom-file-label" for="">Chọn</label>
                            </div>
                            
                        </div>
                        <div class="md-form form-sm">
                            <img id="avatarThumb"  style="width: 50%; height: 50%;" src="#" />
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="firstName" class="form-control form-control-sm">
                            <label for="materialFormNameModalEx1">Họ và tên đệm</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="text" id="lastName" class="form-control form-control-sm">
                            <label for="materialFormNameModalEx1">Tên</label>
                        </div>
                        <!-- Material input email -->
                        <div class="md-form form-sm">
                            <i class="fa fa-phone prefix"></i>
                            <input type="password" id="phoneNumberUser" class="form-control form-control-sm">
                            <label for="materialFormEmailModalEx1">Số điện thoại</label>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope-o prefix"></i>
                            <input type="password" id="emailUser" class="form-control form-control-sm">
                            <label for="materialFormEmailModalEx1">Email</label>
                        </div>
                        <!-- Material input subject -->
                        <div class="md-form form-sm">
                            <i class="fa fa-road prefix"></i>
                            <input type="text" id="addr" class="form-control form-control-sm">
                            <label for="materialFormSubjectModalEx1">Địa chỉ</label>
                        </div>
                        <!-- Material textarea message -->
                        <div class="text-center mt-4 mb-2">
                            <button class="btn btn-primary" id="editProfileUser">Gửi 
                                <i class="fa fa-send ml-2"></i>
                            </button>
                        </div>
        
                    </div>
                </div>
                <!--/.Content-->
            </div>
            <!--/Modal: Contact form-->
        </div>
        
    </div>
</nav>
<% include alertCollection %>