<style>
    #sidebar{
    }
    .list-group-item.active{
        background-color: #26a69a;
        border-color: #26a69a;
    }
    @media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
 
  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -60%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -60%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 60%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 60%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%; /* 6 columns */
  }
}
</style>
<div class="col-xs-2 col-sm-2 col-sm-pull-10 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item active text-center "><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Danh mục sản phâm </a>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Áo thun</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Áo sơ mi</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Áo khoác</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Áo dài tay</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Giày, dép</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Đồ lót, đồ bơi</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Mũ, nón</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item ">Áo thun</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item">Quần bò</a>  </div>
            <div class="waves-effect"><a href="#" class="list-group-item">Quần short</a> </div>
            <div class="waves-effect"> <a href="#" class="list-group-item">Quần vải</a>  </div>
            <div class="waves-effect"> <a href="#" class="list-group-item">Veston</a> </div>
            <div class="waves-effect"> <a href="#" class="list-group-item">Váy</a></div>
            <div class="waves-effect"> <a href="#" class="list-group-item">Phụ kiện quần áo</a> </div>         
        </div>
    </div>